#accordion-section-header_image {
    margin-top: 0px;
}

.customize-control-hidden {
    margin: 0 -12px;
    margin-bottom: 12px;
    display: block;
    padding: 13px 12px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #dddddd;
    background-color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
	color: #3292db;
}

.customize-control-hidden label {
    margin-bottom: 0;
    line-height: 1;
    font-size: 11.5px;
    cursor: default;
}
.newsexo-getting-started-notice {
    padding: 20px 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.newsexo-theme-screenshot img {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #ddd;
    border-radius: 4px;
}
.newsexo-theme-notice-content {
    width: 70%;
    display: block;
    vertical-align: top;
    padding: 0 20px;
}
h2.newsexo-notice-h2 {
    margin: 0 0 10px;
    font-weight: 400;
    line-height: 1.3;
}
.newsexo-push-down {
    padding-top: 15px;
    display: inline-block;
    padding-left: 8px;
}
.newsexo-button-padding.updating-message::before {
  margin-top: 12px;
}
/* Upsale */
.pro_info ul {
	margin: 0;
	padding: 0;
}
.pro_info ul li {
	margin-bottom: 10px;
}
.pro_info ul li a, .up-to-pro {
	font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
	padding: 12px 10px;
	display: block;
	text-decoration: none;
	color: #ffffff;
	border-radius: 3px;
	    font-size: 14px;
    letter-spacing: 1px;
	overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;	
	background: #009efa;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #233fe7, #009efa);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #233fe7, #009efa);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
    z-index: 2;    
}
.pro_info ul li a:hover, .pro_info ul li a:focus,
.up-to-pro:hover, .up-to-pro:focus {
	transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.15);	
}
.show-love {
    background-image: -webkit-linear-gradient( 90deg, #e4aa00 0%, #fddb3e 100%) !important;
	background: #FF512F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #DD2476, #FF512F) !important;  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #DD2476, #FF512F) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
}
.up-to-pro {
    padding: 9px 58px;
    text-transform: capitalize;
}
.pro_info ul li a i{
	font-size: 15px;
	margin-top: 1px;
	margin-right: 7px;
}
.pro_info .upgrade-to-pro, .up-to-pro{
	background: #780206;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
li#accordion-section-upgrade_premium .accordion-section-title:after {
    content: "\f174" !important;
    color: #ffffff !important;
}
li#accordion-section-upgrade_premium .accordion-section-title,
li#accordion-section-upgrade_premium .accordion-section-title:hover {
	color: #ffffff !important;
	border-left: none;
	background: #009efa;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #233fe7, #009efa) !important;  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #233fe7, #009efa) !important;/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.newsexo-notice {
    position: relative;
    padding: 8px 40px 8px 8px;
}
.newsexo-notice-content {
    display: flex;
}
.newsexo-notice-content .newsexo-notice_image {
    display: flex;
    flex: 0 1 30%;
    min-height: 100px;
    border-right: 1px solid #FCFCFD;
}
.newsexo-notice_text {
    flex: 0 1 70%;
}
.newsexo-notice-started {
    padding: 38px 38px 38px 20px !important;
    position: relative;
}
a.button.button-primary.button-hero.newsexo-button-padding {
    margin-right: 10px;
	font-size: 16px;
	font-weight: 500;
}
a.button.button-free-pro {
	background-color: #e43636;
	border: 1px solid #e43636;
	color: #fff;
    margin-right: 10px;
}
a.button.button-free-pro:hover, 
a.button.button-free-pro:focus {
	background-color: #cd2c2c;
	border: 1px solid #cd2c2c;
	color: #fff;
}
a.button.button-upgrade-pro {
	background-color: #01012f;
	border: 1px solid #01012f;
	color: #fff;
    margin-right: 0 !important;
}
a.button.button-upgrade-pro:hover, 
a.button.button-upgrade-pro:focus {
	background-color: #fff;
	border: 1px solid #010118;
	color: #010118;
}
.newsexo-notice_text .panel-column-6 {
    display: flex;
    align-items: center;
}
.newsexo-notice-content .newsexo-notice_image .newsexo-screenshot {
    width: 100%;
    box-shadow: 0 0 1px 0 #ccd0d4;
    border: 1px solid #dddddd;
	object-fit: contain;
}
.newsexo-notice-content .text_heading {
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 1.4;
}
.newsexo-notice_text .notice p, .notice-title, div.updated p, div.error p, .form-table td .notice p {
	padding-right: 25px; font-size: 17px;
}
.dashicons-external:before {
    color: #2271b1;
}
.newsexo-documentation, .newsexo-demos { 
	display:inline; margin-right: 10px; margin-left: 5px;
}
.newsexo-documentation a.newsexo-documentation, .newsexo-demos a.newsexo-demos { 
	font-size: 16px;
	font-weight: 500;
}
.admin_page_arile-settings-importer .newsexo-notice-started, .about-newsexo_page_arile-demo-importer .newsexo-notice-started {
    display: none;
}
.arile-demo-importer-importer-dashboard, #arile-demo-importer-importer-dashboard {
    background-color: #fff;
}
.ocdi__intro-text p {
    display: none;
}
.ocdi__theme-about {
    display: none;
}
.ocdi__title-container {
    display: none;
}
.ocdi__content-container .ocdi__title-container {
    display: block;
}
.ocdi__theme-about-info .theme-tags, .ocdi__theme-about-info .bottom-content {
    display: none;
}
.ocdi__theme-about {
    margin-top: 20px;
}
.ocdi__gl-item:nth-child(n+2) .ocdi__gl-item-buttons .button-primary {
    display: none;
}
.ocdi__title-container {
    height: 45px;
}
.newsexo-notice_text .wlc-heading {
	font-size: 24px;
	font-weight: 500;
}
.main-btn-column {
	float: right;
}
/*ocdi__gl-navigation*/
.ocdi__gl-navigation {
    font-size: 16px;
    font-weight: 600;
}
/*Starter Site Demo Import*/
.ocdi__gl-item-image-container::after {
    padding-top: 122.66666%;
}

.ocdi__gl-item.js-ocdi-gl-item {
	position: relative;
}
/*Demo Ribbon*/
.ocdi__gl-item.js-ocdi-gl-item::after {
	content: "FREE";
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	letter-spacing: 0.3px;
	--f: .5em; /* control the folded part*/
	--r: .8em; /* control the ribbon shape */
	position: absolute;
	top: 20px;
	right: calc(-1*var(--f));
	padding-inline: 0.35em;
	line-height: 1.8;
	background: #059212;
	border-top: var(--f) solid #0005;
	border-left: var(--r) solid #0000;
	clip-path: 
	polygon(var(--r) 100%,100% 100%,100% var(--f),calc(100% - var(--f)) 0,
	calc(100% - var(--f)) var(--f),var(--r) var(--f),
	0 calc(50% + var(--f)/2));
}
.ocdi__gl-item.js-ocdi-gl-item:nth-child(n+2)::after {
	content: "PRO";
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	letter-spacing: 0.3px;
	--f: .5em; /* control the folded part*/
	--r: .8em; /* control the ribbon shape */
	position: absolute;
	top: 20px;
	right: calc(-1*var(--f));
	padding-inline: 0.35em;
	line-height: 1.8;
	background: #d40004;
	border-top: var(--f) solid #0005;
	border-left: var(--r) solid #0000;
	clip-path: 
	polygon(var(--r) 100%,100% 100%,100% var(--f),calc(100% - var(--f)) 0,
	calc(100% - var(--f)) var(--f),var(--r) var(--f),
	0 calc(50% + var(--f)/2));
}
/*Remove chevron next icon from upgrade to pro button*/
#customize-theme-controls .newsexo_upsell_section .accordion-section-title:after {
	content: none;
}




